<%- include('./partials/headerHome') %>
        <main id="home">
            <section>
                <h2>Welcome to Iron Peak Gym Equipment</h2>
                <p>A marketplace for gym equipment<span class="desktop-only">, where you can find great deals on a wide range of fitness equipment and accessories.</span></p>
                <a href="/store/items" class="button">Browse Items</a>
            </section>
        </main>
<%- include('./partials/footerHome') %>

