<%- include('./partials/headerHome') %>
        <main id="home">
            <section>
                <h2>Welcome to Silver Bells</h2>
                <p>A marketplace for gym equipment, where you can find great deals on a wide range of fitness equipment and accessories.</p>
                <a href="/store/items" class="button">Browse Items &gt;</a>
            </section>
            <img src="images/dumbbell2.jpg" alt="dumbell">
            <img src="images/cable_machine.jpg" alt="kettlebell">
        </main>
<%- include('./partials/footerHome') %>

