main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    gap: 20px;
    background-color: #161a1c;
    height: calc(100vh - 100px);
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #D1E6F0;
}

main form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: black;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
}

main input {
    background-color: black;
    color: white;
    box-sizing: border-box;
    flex: 2 1 100%;
    padding: 7px;
    width: 100%;
    border-radius: 5px;
    outline: 2px solid gray;
    border: none;
}

main input[type="submit"] {
    background-color: #161a1c;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

@media (max-width: 768px) {    
    h1 {
        font-size: 2em;
    }
    
    main form {
        gap: 15px;
        padding: 20px;
        border-radius: 5px;
        min-width: 80vw;
    }
}

